<header class="main-header">
  <div class="logo">
    <div class="logo-circle">
      <span class="logo-fam">fam</span>
      <div class="divider"></div>
      <span class="logo-cal">cal</span>
    </div>
  </div>
  <nav class="main-nav">
  <div class="main-nav-list">
     <span><a [routerLink]="['/daily-calendar']">daily-Calendar</a></span>
    <span><a [routerLink]="['/family-calendar']">Calendar</a></span>
     <span><a [routerLink]="['/family-members']">family-members</a></span>
     <span  *ngIf="!authService.currentUser()"><a [routerLink]="['/register']">register</a></span>
    <span *ngIf="!authService.currentUser()">
        <a [routerLink]="['/login']">Login</a>
      </span>

      <!-- Show "Logout" only IF the user IS logged in -->
      <span *ngIf="authService.currentUser()">
  <span class="logged-in-as">Logged in as {{ authService.currentUser()?.familyName }}</span>
        <!-- We use a click handler here instead of routerLink -->
        <a href="#" (click)="logout()">Logout</a>
      </span>
  
  </div>
</nav>
 
</header>
