 .fam-btn {
  border-radius: 30px;
  border: 1px;
  color: #17a89a;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #dad5d5;
  margin-inline-end: 20px;
}
.fc-v-event .fc-event-main {
  color: #000 !important;
}
.fc-event, .fc-event-main {
  cursor: pointer !important;
}

.main-div {
    padding: 20px;
}
.calendar-container {
  padding: 20px;
}
.fc-v-event .fc-event-main {
  color: #000 !important;
  height: 100%;
}
.calendar-container {
  height: 400px;
  overflow-x: scroll;
}