<footer class="main-footer" dir="ltr">
  <!-- Desktop footer -->
  <div class="desktop-footer">
     {{ 'FAMILY_CALENDAR' | translate }} - {{ 'KEEPING_YOUR_FAMILY_CONNECTED' | translate }}
  </div>
  
  <!-- Mobile bottom navigation -->
  <div class="mobile-footer">
  <app-nav-icons [showLabels]="true" navType="footer" class="mobile-nav"></app-nav-icons>
    <div class="mobile-footer-text">
     {{ 'FAMILY_CALENDAR' | translate }} - {{ 'KEEPING_YOUR_FAMILY_CONNECTED' | translate }}
    </div>
  </div>
</footer>