  .register-container{ display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d7f2f1;
    align-self: center;
    width: 60%;
    border-radius: 10px;
     list-style: none;
    padding: 20px;
        margin: auto;
        margin-top: 50px;
}
form div {
    padding: 10px;
}
.fam-btn {
 border-radius: 30px;
    border: 1px;
   color: #17a89a;
   padding: 5px 10px;
   cursor: pointer;
   background-color: #dad5d5;
}
label {
padding: 10px;
}
input {
    padding: 5px;
}