<div class="modal-content">
  <button mat-icon-button class="close-x small-close" mat-dialog-close matTooltip="Close" matTooltipPosition="left">
    <i class="fa-solid fa-times" style="font-size:1.1em;"></i>
  </button>
  <h2 style="margin-top: 0px !important;"><i [class]="getIconClass()"></i> {{ getTitle() | translate }}</h2>
  <div class="add-date-section">
    <h3 style="margin-top: 0px !important;">{{ 'SCHEDULE_THIS_DATE' | translate }}</h3>
    <form [formGroup]="dateForm" (ngSubmit)="saveDate()" class="date-form">
      <div class="form-group">
        <input type="datetime-local" formControlName="datetime" required />
      </div>
      <div class="form-group place-input-group">
        <input type="text" formControlName="place" placeholder="{{ 'PLACEHOLDER_PLACE' | translate }}" />
        <button *ngIf="mapsUrl" type="button" class="maps-btn" matTooltip="{{ 'SEARCH_NEARBY_PLACES' | translate }}" matTooltipPosition="left" (click)="openMapsModal()">
          <i class="fa-solid fa-map-location-dot"></i>
        </button>
      </div>
      <button mat-raised-button type="submit" class="save-btn" [disabled]!="dateForm.valid || saving">
  <i class="fa-solid fa-heart"></i> {{ saving ? ('SAVING' | translate) : ('ADD_TO_CALENDAR' | translate) }}
      </button>
    </form>
    <div *ngIf="showHeart" class="floating-heart">💕</div>
  </div>
  <div class="suggestions-content">
    <div *ngIf="loading" class="loading">
      <i class="fa-solid fa-spinner fa-spin"></i> {{ 'LOADING_SUGGESTIONS' | translate }}
    </div>
    <div *ngIf="!loading && places.length > 0" class="suggestions-list">
      <div class="tips">
        <div *ngFor="let place of places; let i = index" class="suggestion-item" style="margin-bottom: 12px;">
          <b (click)="selectPlace(place.name)" style="cursor:pointer; text-decoration:underline;">
            {{i + 1}}. {{place.name}}
          </b><br>
          <span style="color:#555">{{place.address}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!loading && !places.length && suggestions" class="suggestions-list">
      <div class="tips">
        <p [innerHTML]="suggestions"></p>
      </div>
    </div>
  </div>
</div>