/* Global required error message style */
.required-error-message {
	color: #eab308; /* yellow-500 */
	font-size: 1em;
	margin-top: 4px;
	display: block;
	font-weight: 500;
}
/* Global fam-btn style for all features */
.fam-btn {
	border-radius: 30px;
	border: 1px;
	color: #17a89a;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #dad5d5;
	margin-inline-end: 20px;
}
main {
	padding-bottom: 20%;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
